.bg-purple{
    background-color:rgb(91, 58, 153);
}

.bg-orange{
    background-color: #e86633;
}

.bg-green{
    background-color: #119e40;
}

.btn-purple{
    background-color: rgb(91, 58, 153);
    color: white;
    border: none;
    height: 31px;
    font-size: 15px;
}

.label-size{
    font-size: 13px;
}

.input-size{
    height: 30px;
}

.text-size-li{
    font-size: 11px;
}

.text-size-logo{
    font-size: 16px;
}

.text-size-jumbotron{
    font-size: 40px;
}

#about-footer{
    margin-top: 61vh;
}

ul li{
    display: inline;
    padding: 1px;

}